@import url("https://throwaway1598.github.io/styles/style.css");




#intro-card {
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url("../res/backgrounds/background_d1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#intro-card .container {
    color: var(--text-alt-color);
    height: fit-content;
    width: 100%;
    background: none;
    text-align: center;
}


#services {
    line-height: 1.5;
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(196, 194, 194, 0.226);
    padding-left: 0.5em;
}

#services .title > h1{
    font-size: 3vw;
}

#service-holder {
    display: flex;
    flex-direction: column;
}

#service-item {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: fit-content;
}

#service-item .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 50vh;
    width: 100%;
}

#service-desc .title {
    font-size: 1.5vw;
    padding: 1em 0.5em;
}

#service-desc .text-body {
    padding: 1em 0.5em;
    font-size: 1.25vw;
}


#contact-us {
    /* height: 50vh; */
    padding: 8em 0 2em 0;
}

#contact-us .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#contact-desc {
    padding: 0 0 0 2em;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
}

#contact-desc div:nth-child(1) {
    font-size: 3vw;
    padding: 1em 0.5em 0.5em 0.4em;
}

#contact-desc div:nth-child(2) {
    font-size: 1.25vw;
    padding: 0.5em 5em 0.5em 1em;
}

#contact-form {
    font-size: 1.25vw;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

#contact-form input[type=text] {
    border: 1px solid black;
    border-radius: 15px/20px;
    height: 2em;
    padding-left: 1em;
    width: 25em;
}

#contact-name {
    display: flex;
    flex-direction: row;
}

#contact-name > div {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-bottom: 2em;
}

#contact-email {
    display: flex;
    flex-direction: column;
    padding-right: 50%;
    padding-bottom: 3em;
}

#contact-message {
    display: flex;
    flex-direction: column;
    padding-right: 40%;
    padding-bottom: 2em;
}

#contact-message > textarea{
    height: 5em;
    border-radius: 15px/20px;
    border: 1px solid black;
    padding: 1em 0 0 1em;
}

#contact-btn input {
    text-align: center;
    padding: 1em 2em;
    border: none;
    border-radius: 30%/40%;
    background-color: var(--background-alt-color);
    color: var(--text-alt-color);
    height: 4em;
}

#contact-btn input[type='submit'] {
    transition: 0.5s ease-in-out all;
}

#contact-btn input[type='submit']:hover  {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 0.1px solid black;
}



.image-holder {
    max-height: inherit;
}  /* Place Holder  */

.image-holder img {
    max-width: 100%;
    max-height: 100%;
}


@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }


    #services {
        padding-left: 0;
        width: 99.999%;
    }

    #services .title > h1 {
        font-size: 6vw;
    }

    #service-item {
        width: 100%;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: column;
        /* max-height: 40vh; */
    }

    #service-desc .title {
        font-size: 4vw;
        font-weight: bold;
    }

    #service-desc .text-body {
        font-size: 3vw;
    }

    #service-item .image-holder {
        padding: 1em 0 1em 0;
    }

    #contact-us {
        padding: 0 0 1em 1em;
    }

    #contact-us .container {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    #contact-form {
        /* display: flex;
        flex-direction: column; */
        font-size: 3vw;
        /* padding-bottom: 4em; */
        margin-top: 0;
        gap: 0;
    }

    #contact-desc div:nth-child(1) {
        font-size: 8vw;
    }
    
    #contact-desc div:nth-child(2) {
        font-size: 3vw;
    }

    #contact-form input[type=text] {
        width: 80vw;
    }

    #contact-message > textarea{
        height: 2em;
    }

    #contact-name {
        display: flex;
        flex-direction: column;
    }
}