body {
    background-color: #ffefcf;
    max-width: 100%;
}


#task-bar {
    display: grid;
    grid-template-columns: 10% 90%;
    max-height: 10%;
    max-width: 100%;    
}

#task-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#taskbar-buttons {
    color: white;
    background-color: #bd8828;
    border: none;
    border-radius: 20%/50%;
    min-width: fit-content;
    min-height: fit-content;
    height: 50%;
    width: 6.5em;
    margin: 0% 5px;
    padding: 5px 10px;
}

#taskbar-buttons:hover {
    background-color: black;
}

#taskbar-buttons:focus {
    background-color: red;
}

#logo {
}

#intro-section {
    background-color: #fff9ee;
    height: fit-content;
    padding: 7% 10%;
    margin: 0 5%;
    border-radius: 4%;
}

#intro-subtext{
    text-align: center;
}

#intro-subtext span {
    font-size: 2vw;
}

#intro-background {
    line-height:40vh;
    text-align: center;
    height: 50vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background-image: url("../res/Teles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#intro-background span {
    font-size: 11vw;
    max-width: 100%;
    color: white;
}


#services {
    margin: 5% 0 0 0;
    max-height: fit-content;
    background-color: #fff9ee;
    border-radius: 5%/10%;
    padding: 3% 0;
}

#services h1 {
    text-align: center;
    padding: 0 0 0 1em;
}

#services h1 span {
    font-size: 4vw;
}

#services-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#services-holder .item {
    margin: 0 0 0 1em;
    background-color: #fff9ee;
    max-height: fit-content;
    max-width: 20em;
}

#services-desc {
    padding: 5% 0 0 0;
    margin: 0 0 5% 0;
}

#services-desc span:nth-child(1) {
    font-size: large;
    font-weight: bolder;
}

#services-desc span p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    text-align: justify;
    color: black;
}

#opportunities {
    margin: 5% 0 0 0;
    max-height: fit-content;
    background-color: #fff9ee;
    border-radius: 5%/10%;
    padding: 3% 0;
}

#opportunities h1 {
    text-align: center;
    padding: 0 0 0 1em;
}

#opportunities h1 span {
    font-size: 4vw;
}

#opportunities-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#opportunities-holder .item {
    background-color: #bdab8c;
    margin: 5px 1%;
    padding: 1em 1em;
    border-radius: 10%/5%;
}

#opportunities-holder .item h5 {
    padding-left: 1em;
}

#opportunities-holder .item h6 {
    padding-left: 1em;
}

#opportunities-holder .item ul {
}

#opportunities-holder .item ul li {
}

#contact-us {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff9ee;
    border-radius: 5%/10%;
    margin: 5% 0 0 0;
}

#contact-info {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 10%;
    text-align: start;
}



#contact-info h2 {
    padding: 0 1%;
}

#loc-holder {
    width: 40px;
    height: 40px;
}

#loc-holder img {
    max-width: 100%;
    max-height: 100%;
}

#contact-image {
    height: fit-content;
}

#contact-image img {
    border-radius: 5%/10%;
}

.pic-holder {
    width: 100%;
    height: 19em;
}

.pic-holder img {
    width: 100%;
    max-height: 100%;
}

.generic-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10%/30%;
}

.bold {
    font-weight: bold;
}


/* Alignments */


/* Responsive */
@media only screen and (max-width: 768px) {
  
}