html {
    scroll-behavior:smooth;
  }

body {
    --c: #2c251f;
    max-width: 100%;
    color: #2c251f;
    /* background-color: #efc577a7; */
    /* background-color: #ffea0356; */
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.565), rgba(255, 170, 0, 0.274)), url("../res/Teles.jpg"); */
    background-image:linear-gradient(rgba(255, 255, 255, 0.712), rgba(255, 170, 0, 0)), url("../res/background_d4.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:repeat-y;
    background-attachment: fixed;
    background-position: center center;
}

/* * {
    font-family: "PT Serif Caption";
} */
 
/* * {
    border: 1px solid red;
} */

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}


#task-bar {
    display: grid;
    grid-template-columns: 10% 90%;
    max-height: 10%;
    max-width: 100%;    
}

#task-button-bar {
    position: fixed;
    right: 1px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: none;
}

#taskbar-buttons {
    color: #2c251f;
    font-size:medium;
    font-weight: bolder;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    min-width: fit-content;
    min-height: 3em;
    max-height: 3em;
    height: 100%;
    width: 6.5em;
    margin: 0% 0px;
    padding: 0 0px;
    overflow: hidden;
    background: none;
    z-index: 1;
    position: relative;
    margin-right: 0.5em;
}

#taskbar-buttons span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#taskbar-buttons:hover {
    color: white;
}

#taskbar-buttons:hover span {
    transform: translateY(0) scale(2);
}

#taskbar-buttons span:nth-child(1) { --n: 1; }
#taskbar-buttons span:nth-child(2) { --n: 2; }
#taskbar-buttons span:nth-child(3) { --n: 3; }
#taskbar-buttons span:nth-child(4) { --n: 4; }

#taskbar-buttons:focus {
}

#logo {
    height: 3em;
    width: fit-content;
}

#logo img {
    height: 10em;
    width: 15em;
}

#intro-section {
    background-color: #fff9ee;
    height: fit-content;
    padding: 7% 10%;
    margin: 0 5%;
    border-radius: 4%;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0));
}

#intro-subtext{
    margin-top: 1em; 
    text-align: center;
}

#intro-subtext span {
    font-family: 'PT Serif Caption';
    font-size: 2vw;
    /* font-weight: lighter; */
}

#intro-background {
    line-height:50vh; /* To center text */
    text-align: center;
    height: 50vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    /* background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.4)), url("../res/Teles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

#intro-background span {
    font-size: 11vw;
    max-width: 100%;
    color: #2c251f;
}


#services {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5% 0 0 0;
    padding: 3% 0 3% 0;
    background-color: #fff9eea2;
    min-height: fit-content;
}

#services h1 {
    text-align: center;
    padding: 0 0 0 1em;
}

#services h1 span {
    font-size: 4vw;
}

#services-holder {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

#services-holder > div {
    padding: 0 3% 0 3%;
}

#services-holder .item {
    position: relative;
    display: grid;
    margin: 2em 0 0 1em;
    height: 100%;
    max-width: 100%;
    border-left: none;
    box-shadow: 0px 0px 0px 0px none;
    transition: ease 0.5s;
    animation-name: brevolve;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#services-holder .item:hover {
    box-shadow: 0 0 10px 10px black;
}

#services-holder .item .pic-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#services-holder .item .pic-holder img {
    width: 10em;
    height: 10em;
}

#services-holder .item .generic-button {
}

#services-desc {
    padding: 5% 0 0 0;
    margin: 0 0 0 0;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#services-desc span:nth-child(1) {
    font-size: large;
    font-weight: bolder;
    font-style: normal;
}

#services-desc span p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: s; */
    text-align: justify;
    color: black;
}

#opportunities {
    margin: 5% 0 0 0;
    /* min-height: 60vh; */
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff9ee8b;
    padding: 3% 0;
}

#opportunities h1 {
    text-align: center;
    padding: 0 0 0 1em;
}

#opportunities h1 span {
    font-size: 4vw;
}

#opportunities-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#opportunities-holder .item {
    background-color: #bdab8c;
    margin: 5px 1%;
    padding: 1em 1em;
    border-radius: 10%/5%;
}

#opportunities-holder .item h5 {
    padding-left: 1em;
}

#opportunities-holder .item h6 {
    padding-left: 1em;
}

#opportunities-holder .item ul {
}

#opportunities-holder .item ul li {
}


#about-us {
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: #fff9ee8b;
    margin: 5% 0 0 0;
    padding: 5% 0;
}

#about-us > div:nth-child(1) {
    text-align: center;
}

#about-us > div:nth-child(1) h2 {
    text-decoration: underline;
}

#about-us > div:nth-child(1) p {
    padding: 2% 10%;
    text-align: justify;
}

#about-us > div:nth-child(2) {
    text-align: center;
}

#about-us > div:nth-child(2) > h2 {
    text-decoration: underline;
}

#about-leaders {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-evenly;
}

#about-leaders .item {
    padding: 0 1%;
}

#about-leaders .item .box1, #about-leaders .item .box2 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    max-height: 300px;
    opacity: 1;
    transition: all ease-in-out 0.4s;
}

#about-leaders .item .box1 {
    display: block;
    border-radius: 50%;
}

#about-leaders .item .box2 {
    display: grid;
    background-color: #2c251f;
    color: white;
    grid-template-rows: 20% 80%;
    max-height: 0;
    opacity: 0;
}

#about-leaders .item .box2 span {
    padding-top: 10%;
    font-weight: bolder;
    text-decoration: underline;
}

#about-leaders .item .box2 p {
    padding: 0 10%;
    text-align: justify;
    align-items: center;
}

#about-leaders .item {
    display: inline-block;
}

#about-leaders .item:hover .box1 {
    max-height: 0;
    opacity: 0;
}

#about-leaders .item:hover .box2 {
    max-height: 300px;
    opacity: 1;
}

#contact-us {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff9ee8b;
    margin: 5% 0 0 0;
}

#contact-info {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 10%;
    text-align: start;
}



#contact-info h2 {
    padding: 0 1%;
}

#loc-holder {
    width: 40px;
    height: 40px;
}

#loc-holder img {
    max-width: 100%;
    max-height: 100%;
}

#contact-image {
    height: fit-content;
}

#contact-image img {
    border-radius: 5%/10%;
}

.pic-holder {
    width: 100%;
    height: fit-content;
}

.pic-holder img {
    width: 100%;
    max-height: 100%;
}

.generic-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10%/30%;
}

.bold {
    font-weight: bold;
}


/* Alignments */


/* Responsive */
@media only screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
        background-attachment: fixed;
    }

    #intro-subtext span{
        font-size: 5vw;
    }

    #task-bar {
        display: none;
    }
    #services-holder {
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: 1fr; */
    }

    #services-holder .item {
        margin: 0;
    }

    #about-us {
        /* height: 100%; */
        padding: 70% 0;
    }

    #about-leaders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-leaders .item {
        padding: 5% 0;
        margin: 0 10%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #about-leaders .item .box1 {
        border-radius: 0;
    }

    #about-leaders .item .box1, #about-leaders .item .box2 {
        width: 100%;
        /* height: 100%; */
    }
}









/* Animations */ 


@keyframes brevolve {
  
}